vendor/*/
!vendor/vendor.json

docker/*/env.*.secret

docker/*/*chain_data/*

multy-eos

.idea

cmd/cmd
cmd/test
cmd/stage
cmd/multy
cmd/client.config
cmd/*.cert
cmd/back-*
cmd/logs
cmd/rpc.cert
cmd/state.json
cmd/client

rpc.cert
data-db

.env